@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  /* overflow-y: hidden; */
  font-family: 'Ubuntu Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-heading {
  font-weight: 700;
  color: #343a40;
  font-size: 50px;
}
.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .app-heading {
    font-size: 30px;
  }
  .app-heading2 {
    font-size: 20px;
  }
}

.emojiFix {
  font-weight: 100 !important;
}

.container::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(54, 54, 54, 0.466); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid rgba(78, 78, 78, 0.452); /* creates padding around scroll thumb */
}
.inprogress-card {
  background-color: #aad6b9;
  border-radius: 15px;
  height: 90%;
}
.topicName {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
}
.totalQuestion {
  color: #4f4f4f;
  font-weight: 700;
}
.notstarted-card {
  background-color: #aad0f6;
  border-radius: 15px;
  height: 90%;
}

.percentDone {
  color: #4f4f4f;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(0.5px) translateZ(0);
  transform: perspective(0.5px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

:root {
  /* These are the breakpoints, usage: for media query  */
  --table-xl-width: 1140px;
  --table-lg-width: 960px;
  --table-md-width: 720px;
  --table-sm-width: 540px;
}

.sort-button {
  margin: 0px 20px 0px 20px;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

.question-link:hover {
  color: rgb(0, 115, 192);
}
.header-rand {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random {
  margin-bottom: 25px;
}
.random > a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #27ae60;
  color: white;
  text-decoration: none;
}
.random > a:hover {
  color: white;
  background-color: #1a8647;
}
.pick-random-btn {
  z-index: 0 !important; /*To Override z-index set by Bootstrap*/
}

.completed-questions {
  margin: 0px;
  background: rgb(200, 230, 201);
  font-size: 18px;
  font-weight: 100;
  padding: 5px 8px;
  margin-left: auto;
}

.topic-input-container {
  display: flex;
  width: 100%;
  max-width: var(--table-xl-width);
  padding: 0px 15px;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .topic-input-container {
    max-width: var(--table-lg-width);
  }
}
@media screen and (max-width: 991px) {
  .topic-input-container {
    max-width: var(--table-md-width);
  }
}
@media screen and (max-width: 767px) {
  .container-custom {
    padding-bottom: 50px;
  }
  .search-input-container {
    min-width: 300px !important;
  }
  .topic-input-container {
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--table-sm-width);
    margin-bottom: 10px;
  }
  .completed-questions {
    margin-left: 0px;
  }
}
